.card{
    display: flex;
    flex-direction: column;
}
.cardImage{
    aspect-ratio: 4/3;

}
.cardContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr;        
    justify-content: center;
}

.cardContent .title {
    font-size: 1.125rem;
}